/* @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); */

@font-face {
    font-family: 'main-bold';
    src: url('./fonts/NowAlt-Bold.woff') format('woff');
    src: url('./fonts/NowAlt-Bold.woff2') format('woff2');
    font-display: fallback;
}